@model  Capitaplus.ViewModel.PoAgainstRoleVm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=text] {
        width: 96px;
    }

    #txtqty {
        width: 60px;
    }

    .jumbotron {
        height: 10px;
    }

    .lbl {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .jlbl {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
    .md{
         margin-left:-150px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size:20px;
    }
    .tablemat{
        margin-left:-150px;
    }
      .sc{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
       .ad{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
       .save{
           font-size:14px;
           width:90px;
           height:35px;
       }
</style>
<h2>Purchase Order</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <label class="lbl">Po Types</label>
            @Html.DropDownListFor(x => x.potype.Id, new SelectList(Model.potypes, "Id", "Type"), "Select Type", new { id = "polist", @class = "form-control" })
        </div>
        <div class="col-lg-3">
            <label class="lbl">Vendor</label>
            @Html.DropDownListFor(x => x.customer.S_No, new SelectList(Model.customers, "S_No", "VendorName"), "Select Type", new { id = "custlist", @class = "form-control" })
        </div>
        <div class="col-lg-3">
            <label class="lbl">Payment Term</label>
            <select class="form-control">
                <option>
                    Credit
                </option>
                <option>
                    Advance
                </option>
            </select>
        </div>
        <div class="col-lg-3">
            <label class="lbl">Credit Period</label>
            <input type="number" id="txtcp" class="form-control" />
        </div>
    </div>
</div>
<hr />
<div class="container">
    <h5 id="mp">Material Planning</h5>
    <table class="table tablelist table-striped">
        <thead>
            <tr>
                <th>MP Number</th>
                <th>Job Number</th>
                <th>Sales Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>
 
<label class="sc">Select Code</label>
<select id="codeselect" class="form-control"></select>
<hr />

<div id="codeDetail" class="pull-left">
    <label class="md">Material Details</label>
    <table class="table tablemat table-striped">
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Type</th>
                <th>Capacity</th>
                <th>Model</th>
                <th>Color</th>
                <th>UOM</th>
                <th>Sac Code</th>
                <th>Qty Required</th>
                <th>Stock Qty</th>
                <th>Qty Purchase</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Gst</th>
                <th>Gst Amount</th>
                <th>Gross Amount</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div> 
 
<div id="AddDetail" class="container">
    <label class="ad">Added Item</label>
    <table class="table tableadd table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Material Name</th>
                <th>Type</th>
                <th>Capacity</th>
                <th>Model</th>
                <th>Color</th>
                <th>UOM</th>
                <th>Sac Code</th>
                <th>Qty Required</th>
                <th>Stock Qty</th>
                <th>Qty Purchase</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Gst</th>
                <th>Gst Amount</th>
                <th>Gross Amount</th>

            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>

@*//Summary*@
<div class="row sumurry">
    <div class="col-lg-8"> 
    </div>
    <div class="col-lg-4">
        <div id="sum" class="card">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-lg-4">
                        <b> Amount</b>
                    </div>
                    <div class="col-lg-4">
                        <b>Gst Amount</b>
                    </div>
                    <div class="col-lg-4">
                        <b>Gross Amount</b>
                    </div> 
                </div>

            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-lg-4">
                        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:forestgreen" id="amt"></label>
                    </div>
                    <div class="col-lg-4">
                        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:forestgreen" id="gstamt"></label>
                    </div>
                    <div class="col-lg-4">
                        <label style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:forestgreen" id="grossamt"></label>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-4">
                        <b>Fright</b>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" id="txtfright" class="form-control" />
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<center>
    <button class="btn btn-primary btn-sm save"><i class="glyphicon-import"></i>Save</button>

</center>
@section scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('hr').hide();
            var mpn;
            $('.tablelist').hide();
            $('#codeDetail').hide();
            $('#AddDetail').hide();
            $('.md').hide();
            $('.ad').hide();
            $('.sc').hide();
             $('#mp').hide();
            $('.sumurry').hide();
             $('.save').hide();
            $('#codeselect').hide();
             var PurchaseId;
            //Dropdown Change Event
            $('#polist').on('change', function () {
                $('#codeselect').attr('disabled', false);
                $('hr').show();
                $('.tablelist').hide();
            $('#codeDetail').hide();
            $('#AddDetail').hide();
            $('.md').hide();
            $('.ad').hide();
            $('.sc').hide();
             $('#mp').hide();
            $('.sumurry').hide();
             $('.save').hide();
            $('#codeselect').hide();
                $('.tablelist tbody tr').remove();
                $('.tablemat tbody tr').remove();
                $('.tableadd tbody tr').remove(); 
                $('#codeselect option').remove();
                let val = parseInt($(this).val());
                
                if (val == 1) { 
                    $('#mp').show();
                    $.ajax({
                        type: 'GET',
                        url: '/CreatePoAgainstRole/GetUniqueMatPlanning/',
                        success: function (result) {
                            for (var i = 0; i < result.Data.length; i++) {
                                $(".tablelist").each(function () {
                                    var tds = '<tr>';
                                    jQuery.each($('tr:last', this), function () {
                                        tds += '<td class="code">' + result.Data[i].MrsNo + '</td>';
                                        tds += '<td class="model">' + result.Data[i].JobNo + '</td>';
                                        tds += '<td class="proname">' + result.Data[i].SalesNo + '</td>';
                                        tds += '<td class="proname">' + '<input id="purchase" type="button" class="btn btn-primary" Value="Purchase" />' + '</td>';
                                    });
                                    tds += '</tr>';
                                    if ($('tbody', this).length > 0) {
                                        $('tbody', this).append(tds);
                                        $('.tablelist').show();
                                    } else {
                                        $(this).append(tds);
                                    }
                                }); 
                            } 
                             
                        },
                        error: function (xhr) {
                            alert(xhr);
                        } 
                    })
                } else {
                    $('#mp').hide();
                     $('.tablelist').hide();
                } 
                //Reorder
                if (val == 2) { 
                     $.ajax({
                         type: 'GET',
                         url: '/CreatePoAgainstRole/GetDataAgainstReorder/', 
                         success: function (result) {
                             $('#codeselect').show();
                             $('.sc').show();
                             $.each(result.Data, function (key, value) {
                                 $('#codeselect')
                                     .append($("<option></option>")
                                         .val(key)
                                         .text(value.Code));
                             });
                             var code = $('#codeselect :selected').text().trim();
                        //Get Detail Here
                         $.ajax({
                            type: 'GET',
                            url: '/CreatePoAgainstRole/GetDataPoByCode/',
                            data: { code: code },
                            success: function (result) { 
                                $.ajax({
                                    type: 'GET',
                                    url: '/CreatePoAgainstRole/GetDataMatPlanningByCode/',
                                    data: { code: code },
                                    success: function (results) {
                                      
                                        for (var i = 0; i < result.Data.length; i++) {
                                            $(".tablemat").each(function () {
                                                var tds = '<tr>';
                                                jQuery.each($('tr:last', this), function () {
                                                    tds += '<td class="proname">' + result.Data[i].MaterialName + '</td>';
                                                    tds += '<td class="protype">' + result.Data[i].Type + '</td>';
                                                    tds += '<td class="procap">' + result.Data[i].Capacity_AMH + '</td>';
                                                    tds += '<td class="promodel">' + result.Data[i].Model + '</td>';
                                                    tds += '<td class="procolor">' + result.Data[i].Color + '</td>';
                                                    tds += '<td class="prouom1">' + result.Data[i].UOM_1 + '</td>';
                                                    tds += '<td class="sacs">' + result.Data[i].SAC_CODE + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqty" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyAfterWast}` + ' class="form-control"/>' + '</td>';

                                                    tds += '<td class="qty">' + '<input id="txtqtystock" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyInStock}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqtypur" style="width:95px;" type="number" value=' + `${results.Data[i].QtyToPurchase}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtrate"type="number" style="width:90px;" value=' + `${result.Data[i].Rate}` + '  class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtamt"type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstper"type="number" style="width:85px;"  value="18" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgrossamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td>' + '<input id="add" type="button" value="Add"  class="btn btn-warning"/>' + '</td>';
                                                });
                                                tds += '</tr>';
                                                if ($('tbody', this).length > 0) {
                                                    $('tbody', this).append(tds);
                                                    $('#codeDetail').show();
                                                    $('.md').show();
                                                    $(function () {
                                                        let qty = $('#txtqtypur').val();
                                                        let rate = $('#txtrate').val();
                                                        let totalAmt = qty * rate;
                                                        
                                                        $('#txtamt').val(totalAmt);

                                                        var totalAmts = $('#txtamt').val();

                                                        var gst = 18;
                                                        var gstAmt = totalAmt / 100;
                                                        var final = gstAmt * gst;

                                                        $('#txtgstamt').val(final);
                                                        var grossAmt = parseInt(totalAmt) + parseInt(final);

                                                        $('#txtgrossamt').val(grossAmt);
                                                    })
                                                } else {
                                                    $(this).append(tds);
                                                }
                                            });
                                        }
                                    }
                                }) 
                            },
                            error: function (xhr) {
                                alert(xhr);
                            }

                        })
                         },
                         error: function (xhr) {
                             alert(xhr);
                         }

                     })
                } else { 
                }

                //Other
                if (val == 3) { 
                     $.ajax({
                         type: 'GET',
                         url: '/CreatePoAgainstRole/GetDataAgainstOther/', 
                         success: function (result) {
                             $('#codeselect').show();
                             $('.sc').show();
                             $.each(result.Data, function (key, value) {
                                 $('#codeselect')
                                     .append($("<option></option>")
                                         .val(key)
                                         .text(value.Code));
                             });
                                var code = $('#codeselect :selected').text().trim();
                        //Get Detail Here
                        $.ajax({
                            type: 'GET',
                            url: '/CreatePoAgainstRole/GetDataPoByCode/',
                            data: { code: code },
                            success: function (result) { 
                                $.ajax({
                                    type: 'GET',
                                    url: '/CreatePoAgainstRole/GetDataMatPlanningByCode/',
                                    data: { code: code },
                                    success: function (results) {
                                        for (var i = 0; i < result.Data.length; i++) {
                                            $(".tablemat").each(function () {
                                                var tds = '<tr>';
                                                jQuery.each($('tr:last', this), function () {
                                                    tds += '<td class="proname">' + result.Data[i].MaterialName + '</td>';
                                                    tds += '<td class="protype">' + result.Data[i].Type + '</td>';
                                                    tds += '<td class="procap">' + result.Data[i].Capacity_AMH + '</td>';
                                                    tds += '<td class="promodel">' + result.Data[i].Model + '</td>';
                                                    tds += '<td class="procolor">' + result.Data[i].Color + '</td>';
                                                    tds += '<td class="prouom1">' + result.Data[i].UOM_1 + '</td>';
                                                    tds += '<td class="sacs">' + result.Data[i].SAC_CODE + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqty" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyAfterWast}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqtystock" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyInStock}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqtypur" style="width:95px;" type="number" value=' + `${results.Data[i].QtyToPurchase}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtrate"type="number" style="width:90px;" value=' + `${result.Data[i].Rate}` + '  class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtamt"type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstper"type="number" style="width:85px;"  value="18" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgrossamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td>' + '<input id="add" type="button" value="Add"  class="btn btn-warning"/>' + '</td>';
                                                });
                                                tds += '</tr>';
                                                if ($('tbody', this).length > 0) {
                                                    $('tbody', this).append(tds);
                                                    $('#codeDetail').show();
                                                    $('.md').show();
                                                    $(function () {
                                                        let qty = $('#txtqtypur').val();
                                                        let rate = $('#txtrate').val();
                                                        let totalAmt = qty * rate;
                                                        
                                                        $('#txtamt').val(totalAmt);

                                                        var totalAmts = $('#txtamt').val();

                                                        var gst = 18;
                                                        var gstAmt = totalAmt / 100;
                                                        var final = gstAmt * gst;

                                                        $('#txtgstamt').val(final);
                                                        var grossAmt = parseInt(totalAmt) + parseInt(final);

                                                        $('#txtgrossamt').val(grossAmt);
                                                    })
                                                } else {
                                                    $(this).append(tds);
                                                }
                                            });
                                        }
                                    }
                                }) 
                            },
                            error: function (xhr) {
                                alert(xhr);
                            }

                        })
                         },
                         error: function (xhr) {
                             alert(xhr);
                         }

                     })
                } else {
                } 
            })

            $(document).on('click', '#purchase', function () {
                $('.tablemat tbody tr').remove();
                mpn = "";
                $('#codeselect option').remove();
                  mpn = $(this).closest('tr').find('.code').text().trim();
                $.ajax({
                    type: 'GET',
                    url: '/CreatePoAgainstRole/GetDataMatPlanningByMpn/',
                    data: { mpn: mpn },
                    success: function (result) {
                        
                        if (result.Data.length == 0) {
                            alert("No Material Avalable To Create Purchase Order!");
                            return;
                        }
                        $('#codeselect').show();
                        $('.sc').show();
                        $.each(result.Data, function (key, value) {
                            $('#codeselect')
                                .append($("<option></option>")
                                    .val(key)
                                    .text(value.Code));
                        });
                           var code = $('#codeselect :selected').text().trim();
                        //Get Detail Here
                        $.ajax({
                            type: 'GET',
                            url: '/CreatePoAgainstRole/GetDataPoByCode/',
                            data: { code: code },
                            success: function (result) { 
                                $.ajax({
                                    type: 'GET',
                                    url: '/CreatePoAgainstRole/GetDataMatPlanningByCode/',
                                    data: { code: code },
                                    success: function (results) {
                                        for (var i = 0; i < result.Data.length; i++) {
                                            $(".tablemat").each(function () {
                                                var tds = '<tr>';
                                                jQuery.each($('tr:last', this), function () {
                                                    tds += '<td class="proname">' + result.Data[i].MaterialName + '</td>';
                                                    tds += '<td class="protype">' + result.Data[i].Type + '</td>';
                                                    tds += '<td class="procap">' + result.Data[i].Capacity_AMH + '</td>';
                                                    tds += '<td class="promodel">' + result.Data[i].Model + '</td>';
                                                    tds += '<td class="procolor">' + result.Data[i].Color + '</td>';
                                                    tds += '<td class="prouom1">' + result.Data[i].UOM_1 + '</td>';
                                                    tds += '<td class="sacs">' + result.Data[i].SAC_CODE + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqty" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyAfterWast}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtqtystock" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyInStock}` + ' class="form-control"/>' + '</td>';
                                                     tds += '<td class="qty">' + '<input id="txtqtypur" style="width:95px;" type="number" value=' + `${results.Data[i].QtyToPurchase}` + ' class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtrate"type="number" style="width:90px;" value=' + `${result.Data[i].Rate}` + '  class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtamt"type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstper"type="number" style="width:85px;"  value="18" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgstamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td class="qty">' + '<input id="txtgrossamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                                    tds += '<td>' + '<input id="add" type="button" value="Add"  class="btn btn-warning"/>' + '</td>';
                                                });
                                                tds += '</tr>';
                                                if ($('tbody', this).length > 0) {
                                                    $('tbody', this).append(tds);
                                                    $('#codeDetail').show();
                                                    $('.md').show();
                                                    $(function () {
                                                        let qty = $('#txtqtypur').val();
                                                        let rate = $('#txtrate').val();
                                                        let totalAmt = qty * rate;
                                                        
                                                        $('#txtamt').val(totalAmt);

                                                        var totalAmts = $('#txtamt').val();

                                                        var gst = 18;
                                                        var gstAmt = totalAmt / 100;
                                                        var final = gstAmt * gst;

                                                        $('#txtgstamt').val(final);
                                                        var grossAmt = parseInt(totalAmt) + parseInt(final);

                                                        $('#txtgrossamt').val(grossAmt);
                                                    })
                                                } else {
                                                    $(this).append(tds);
                                                }
                                            });
                                        }
                                    }
                                }) 
                            },
                            error: function (xhr) {
                                alert(xhr);
                            }

                        })
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }

                })
            })

            //On DropDown Select
            $(document).on('change', '#codeselect', function () {
                $('.tablemat tbody tr').remove();
              
                var code = $('#codeselect :selected').text().trim();
                $.ajax({
                    type: 'GET',
                    url: '/CreatePoAgainstRole/GetDataPoByCode/',
                    data: { code: code },
                    success: function (result) {
                        $.ajax({
                            type: 'GET',
                            url: '/CreatePoAgainstRole/GetDataMatPlanningByCode/',
                            data: { code: code },
                            success: function (results) { 
                                for (var i = 0; i < result.Data.length; i++) {
                                    $(".tablemat").each(function () {
                                        var tds = '<tr>';
                                        jQuery.each($('tr:last', this), function () {
                                            tds += '<td class="proname">' + result.Data[i].MaterialName + '</td>';
                                            tds += '<td class="protype">' + result.Data[i].Type + '</td>';
                                            tds += '<td class="procap">' + result.Data[i].Capacity_AMH + '</td>';
                                            tds += '<td class="promodel">' + result.Data[i].Model + '</td>';
                                            tds += '<td class="procolor">' + result.Data[i].Color + '</td>';
                                            tds += '<td class="prouom1">' + result.Data[i].UOM_1 + '</td>';
                                            tds += '<td class="sacs">' + result.Data[i].SAC_CODE + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtqty" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyAfterWast}` + ' class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtqtystock" style="width:95px;" readonly type="number" value=' + `${results.Data[i].QtyInStock}` + ' class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtqtypur" style="width:95px;" type="number" value=' + `${results.Data[i].QtyToPurchase}` + ' class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtrate"type="number" style="width:90px;" value=' + `${result.Data[i].Rate}` + '  class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtamt"type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtgstper"type="number" style="width:85px;"  value="18" disabled class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtgstamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                            tds += '<td class="qty">' + '<input id="txtgrossamt" type="number" style="width:95px;" disabled class="form-control"/>' + '</td>';
                                            tds += '<td>' + '<input id="add" type="button" value="Add"  class="btn btn-warning"/>' + '</td>';
                                        });
                                        tds += '</tr>';
                                        if ($('tbody', this).length > 0) {
                                            $('tbody', this).append(tds);
                                            $('#codeDetail').show();
                                            $('.md').show();
                                            $(function () {
                                                let qty = $('#txtqtypur').val();
                                                let rate = $('#txtrate').val();
                                                let totalAmt = qty * rate;

                                                $('#txtamt').val(totalAmt);

                                                var totalAmts = $('#txtamt').val();

                                                var gst = 18;
                                                var gstAmt = totalAmt / 100;
                                                var final = gstAmt * gst;

                                                $('#txtgstamt').val(final);
                                                var grossAmt = parseInt(totalAmt) + parseInt(final);

                                                $('#txtgrossamt').val(grossAmt);
                                            })
                                        } else {
                                            $(this).append(tds);
                                        }
                                    });
                                }
                            }
                        }) 
                    },
                    error: function (xhr) {
                        alert(xhr);
                    } 
                })
            })

            //On Add
            $(document).on('click', '#add', function () {
                $('#codeselect').attr('disabled', true);
                 $('#purchase').attr('disabled', true);
                $.ajax({
                    url: "/CreatePoAgainstRole/GetLastPurId",
                    timeout: 20000,
                    type: "GET",
                    ContentType: "application/json; charset=UTF-8",
                    success: function (result) {
                        PurchaseId = parseInt(result) + 1;
                    },
                    error: function () {
                        new PNotify({
                            title: 'Error!',
                            text: 'Something Went Wrong',
                            type: 'error'
                        });
                    }

                });
                let code = $('#codeselect :selected').text();
                let name = $(this).closest('tr').find('.proname').text().trim();
                let type = $(this).closest('tr').find('.protype').text().trim();
                let capacity = $(this).closest('tr').find('.procap').text().trim();
                let model = $(this).closest('tr').find('.promodel').text().trim();
                let color = $(this).closest('tr').find('.procolor').text().trim();
                let uom1 = $(this).closest('tr').find('.prouom1').text().trim();

                let quantityReq = $(this).closest('tr').find('#txtqty').val();
                let quantityPur = $(this).closest('tr').find('#txtqtypur').val();
                let quantityStock = $(this).closest('tr').find('#txtqtystock').val();


                let rate = $(this).closest('tr').find('#txtrate').val();
                let amount = $(this).closest('tr').find('#txtamt').val();
                let gstper = $(this).closest('tr').find('#txtgstper').val();
                let gstamt = $(this).closest('tr').find('#txtgstamt').val();
                let groamt = $(this).closest('tr').find('#txtgrossamt').val();
                let sac = $(this).closest('tr').find('.sacs').text().trim();

                if (rate == "") {
                    alert("Please Enter Rate");
                    return;
                }
                if (quantityPur == "") {
                     alert("Please Enter Quantity");
                     return;
                }

                $(".tableadd").each(function () {
                    var tds = '<tr>';
                    jQuery.each($('tr:last', this), function () {
                        tds += '<td class="code">' + code + '</td>';
                        tds += '<td class="proname">' + name + '</td>';
                        tds += '<td class="protype">' + type + '</td>';
                        tds += '<td class="procap">' + capacity + '</td>';
                        tds += '<td class="promodel">' + model + '</td>';
                        tds += '<td class="procolor">' + color + '</td>';
                        tds += '<td class="prouom1">' + uom1 + '</td>';
                        tds += '<td class="sacd">' + sac + '</td> ';

                        tds += '<td class="qtyrec">' + quantityReq + '</td>';
                        tds += '<td class="qtypur">' + quantityPur + '</td>';
                        tds += '<td class="stock">' + quantityStock + '</td>';

                        tds += '<td class="rate">' + rate + '</td>';
                        tds += '<td class="amount">' + amount + '</td>';
                        tds += '<td class="gstper">' + gstper + '</td>';
                        tds += '<td class="gstamt">' + gstamt + '</td>';
                        tds += '<td class="grossamount">' + groamt + '</td> ';


                    });
                    tds += '</tr>';
                    if ($('tbody', this).length > 0) {
                        $('tbody', this).append(tds);
                        $('#AddDetail').show();
                        $('.ad').show();
                        $('.sumurry').show();
                        $('.save').show();
                        $('.tablemat tbody tr').remove();
                        $('#codeDetail').hide();
                          $('.md').hide();
                    } else {
                        $(this).append(tds);
                    }
                });
                var sum = 0;
                // iterate through each td based on class and add the values
                $(".amount").each(function () { 
                    var value = $(this).text();
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        sum += parseFloat(value);
                    }
                    $('#amt').text(sum);
                    $('#sum').show();
                });

                var grosssum = 0;
                // iterate through each td based on class and add the values
                $(".grossamount").each(function () {

                    var value = $(this).text();
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        grosssum += parseFloat(value);
                    }
                    $('#grossamt').text(grosssum);
                    $('#sums').show();
                });

                //Gst Total Amount
                var GstAmtTotal = 0;
                $(".gstamt").each(function () {

                    var value = $(this).text();
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        GstAmtTotal += parseFloat(value);
                    }
                    $('#gstamt').text(GstAmtTotal);
                    $('#sums').show();
                });
            })
            
            $(document).on('keyup', '#txtqty', function () {
                let qty = $('#txtqty').val();
                let rate = $('#txtrate').val();
                let totalAmt = qty * rate;
                $('#txtamt').val(totalAmt);

                var totalAmts = $('#txtamt').val();

                var gst = 18;
                var gstAmt = totalAmt / 100;
                var final = gstAmt * gst;

                $('#txtgstamt').val(final);
                var grossAmt = parseInt(totalAmt) + parseInt(final);

                $('#txtgrossamt').val(grossAmt);
            })

            $(document).on('keyup', '#txtrate', function () {
                let qty = $('#txtqty').val();
                let rate = $('#txtrate').val();
                let totalAmt = qty * rate;
                $('#txtamt').val(totalAmt);

                var totalAmts = $('#txtamt').val();

                var gst = 18;
                var gstAmt = totalAmt / 100;
                var final = gstAmt * gst;

                $('#txtgstamt').val(final);
                var grossAmt = parseInt(totalAmt) + parseInt(final);

                $('#txtgrossamt').val(grossAmt);
            })

            $(document).on('keyup', '#txtqty', function () {
               
                let rate = $('#txtrate').val();
                let qty = $(this).val();
                let totalAmt = qty * rate;
                
                $('#txtamt').val(totalAmt);

                var totalAmts = $('#txtamt').val();

                var gst = 18;
                var gstAmt = totalAmt / 100;
                var final = gstAmt * gst;

                $('#txtgstamt').val(final);
                var grossAmt = parseInt(totalAmt) + parseInt(final);

                $('#txtgrossamt').val(grossAmt);
            })

            //Save Changes
            $('.save').on('click', function () { 
                let vendorId = $('#custlist :selected').val();
                   var code = $('#codeselect :selected').text().trim();
                if (vendorId == 0) {
                    alert("Please Select Vendor");
                    return;
                }

                $(".tableadd tbody tr").each(function (index) {
                    var item = {};
                    let v = $('#txtfright').val();
                    let netAmt = $('#grossamt').text();
                    let grossTotal = $('#amt').text();
                    let gstTotal = $('#gstamt').text();

                    let vendorName = $('#custlist :selected').text().trim();
                    let poType = $('#polist :selected').val();
                    item.Code = $(this).find('.code', this).text();
                    item.MaterialName = $(this).find('.proname').text().trim();
                    item.Type = $(this).find('.protype').text().trim();
                    item.Capacity_AMH = $(this).find('.procap').text().trim();
                    item.Color = $(this).find('.procolor').text().trim();
                    item.Model = $(this).find('.promodel').text().trim();
                    item.QuantityPurchase = $(this).find('.qtypur').text().trim();
                    item.QtyStock = $(this).find('.stock').text().trim();
                    item.RequiredQty = $(this).find('.qtyrec').text().trim();
                    item.UOM_1 = $(this).find('.prouom1').text().trim();
                    item.Sac = $(this).find('.sacd').text().trim();
                    item.Rate = $(this).find('.rate').text().trim();
                    item.GstAmount = $(this).find('.gstamt').text().trim();
                    item.Amount = $(this).find('.amount', this).text();
                    item.NetAmount = netAmt;
                    item.GrossAmount = $(this).find('.grossamount').text().trim();
                    item.GrossTotal = grossTotal;
                    item.GstTotal = gstTotal;
                    item.Fright = v;
                    item.PoType = poType;
                    item.MaterialGroup = $(this).find('.model').text().trim();
                    item.VendorId = vendorId;
                    item.VendorName = vendorName;
                    item.PurchaseId = PurchaseId;
                   
                    $.ajax({
                        url: "/CreatePoAgainstRole/Insert",
                        timeout: 20000,
                        data: {ReqQty:item.RequiredQty, potype: item.PoType,Qty:item.QtyStock, Quantity: item.QuantityPurchase, Code: item.Code, MaterialName: item.MaterialName, MaterialGroup: item.MaterialGroup, UOM_1: item.UOM_1, Type: item.Type, Capacity_AMH: item.Capacity_AMH, Fridge: item.Fright, Model: item.Model, Color: item.Color, Rate: item.Rate, NetAmount: item.NetAmount, Amount: item.Amount, GrossAmount: item.GrossAmount, Sac: item.Sac, GrossTotal: item.GrossTotal, UOM_1: item.UOM_1, VN: item.VendorName, VI: item.VendorId, PurId: item.PurchaseId, Rate: item.Rate, GstAmt: item.GstAmount, GstTotal: item.GstTotal },
                        type: "POST",
                        ContentType: "application/json; charset=UTF-8",
                        success: function () {
                            $.ajax({
                                url: "/CreatePoAgainstRole/UpdateStatus",
                                data: { mrs: mpn, code:code },
                                type: "GET",
                                ContentType: "application/json; charset=UTF-8",
                                success: function (result) {
                                    $(':button').hide();
                                    location.reload();
                                }
                            }) 
                        },
                        error: function () {
                            new PNotify({
                                title: 'Error!',
                                text: 'Something Went Wrong',
                                type: 'error'
                            });
                        }

                    });



                })

            });

        });
    </script>
}