<center>
    <h2 style="font-size:18px;" class="badge badge-info font-weight-bolder">All Fields Must be filled properly</h2><br /><a href="~/RmCreation/Index"> &nbsp;&nbsp;<span class="badge badge-success"><b>Go Back</b></span></a>
</center>

